/* colors */
@base-color1: #ff2828;
@base-color2: #363845;
@base-color3: #efefef;

@base-font: Open Sans;

body {
	font-family: @base-font;
	padding: 10px 0 50px 0;
}


/* header (шапка) */
.header_left {
	
	font-weight: bold;
	font-size: 30px;

	img {
		max-width: 40%;
		vertical-align: middle;
		margin-right: 10px;
	}
	
}